html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
 }

h1,h2,h3,h4,h5,h6 {
    padding: 0px;
    margin: 0px;
    font-weight: 300;
}

.calcBody {
    margin: 15px;
    background-color: #fff;
    border: 25px solid #eae8ea;
    display: flex;
}

.inputPanel {
    width: 70%;
    margin: 0px;
    color: #757375;
    padding: 20px;
}

.blockHeader {
    margin-bottom: 20px
}

.inputGroup {
    display: flex;
}

.labelColumn {
    width: 21%;
}

#konvaStage {
    border: 1px solid black
}


.rangeInputColumn {
    width: 54%;
}

.textInputColumn {
    width: 25%
}

.valueInput {
    width: 46%;
    height: 30px;
    color: #757375;
} 

.reportBlock {
    background-color: #17b558;
    width: 30%;
    color: #fdfffe;
    padding-left: 30px;
    padding-top: 20px;
}

.reportString {
    display: flex;
    margin-bottom: 15px
}

.reportColumn {
    width: 50%;
    line-height: 20px
}

.reportNumber {
    font-size: 19px;
}



