#calcBody {
    margin: 15px;
    background-color: #fff;
    border: 25px solid #eae8ea;
    display: flex;
}

#creditCalcHeader {
    margin-bottom: 20px
}

#inputsBlock {
    width: 70%;
    margin: 0px;
    color: #757375;
    padding: 20px;
}

.inputsGroup {
    display: flex;
}

.labelColumn {
    width: 21%;
}

.rangeColumn {
    width: 54%;
}

.valueInput {
    width: 46%;
    height: 30px;
    color: #757375;
} 


